﻿	<!-- Main navbar -->
<div class="navbar navbar-expand-md navbar-dark bg-indigo navbar-static">
    <div class="navbar-brand">
        <a href="index.html" class="d-inline-block">
            <img src="~/images/logo_light.png" alt="">
        </a>
    </div>
    <div class="d-md-none">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-mobile">
            <i class="icon-tree5"></i>
        </button>
        <button class="navbar-toggler sidebar-mobile-main-toggle" type="button">
            <i class="icon-paragraph-justify3"></i>
        </button>
    </div>
    <div class="collapse navbar-collapse" id="navbar-mobile">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="#" class="navbar-nav-link sidebar-control sidebar-main-toggle d-none d-md-block">
                    <i class="icon-paragraph-justify3"></i>
                </a>
            </li>
        </ul>
        <span class="navbar-text ml-md-3">
            <span class="badge badge-mark border-orange-300 mr-2"></span>
            Morning, Victoria!
        </span>
        <ul class="navbar-nav ml-md-auto">
           
            <li class="nav-item dropdown">
                <a href="#" class="navbar-nav-link dropdown-toggle legitRipple" data-toggle="dropdown" aria-expanded="false">
                    <img id="enLang" src="../../images/lang/az.png" class="img-flag mr-2" alt="">
                    Azərbaycan
                </a>

                <div class="dropdown-menu">
                    <a onclick="ChangeLang('az-Latn-AZ', '@Url.Action("SetLanguage", "Base")')" class="dropdown-item russian"><img src="../../images/lang/az.png" class="img-flag" alt=""> Azərbaycan</a>
                    <a onclick="ChangeLang('en-US', '@Url.Action("SetLanguage", "Base")')" class="dropdown-item english"><img src="../../images/lang/ua.png" class="img-flag" alt=""> English</a>
                    <a onclick="ChangeLang('ru-RU', '@Url.Action("SetLanguage", "Base")')" class="dropdown-item russian"><img src="../../images/lang/ru.png" class="img-flag" alt=""> Русский</a>

                </div>
            </li>

            <li class="nav-item">
                <a href="#" class="navbar-nav-link">
                    <i class="icon-switch2"></i>
                    <span class="d-md-none ml-2">Logout</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<!-- /main navbar -->