﻿@using (Ajax.BeginForm("Remove", "User", new AjaxOptions() { HttpMethod = "POST", OnBegin = "OnBegin", OnFailure = "OnFailure", OnSuccess = "OnSuccess" }, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    <div id="RemoveModalId" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Attention</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body">
                    <input type="hidden" name="id" id="RemoveDataId" />
                    Are you sure to remove this data?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn bg-primary">Remove</button>
                </div>

            </div>
        </div>
    </div>
}