﻿  <!-- User menu -->
<div class="sidebar-user-material">
    <div class="sidebar-user-material-body">
        <div class="card-body text-center">
            <a href="#">
                <img src="~/images/demo/users/face6.jpg" class="img-fluid rounded-circle shadow-1 mb-3" width="80" height="80" alt="">
            </a>
            <h6 class="mb-0 text-white text-shadow-dark">Victoria Baker</h6>
            <span class="font-size-sm text-white text-shadow-dark">Santa Ana, CA</span>
        </div>

        <div class="sidebar-user-material-footer">
            <a href="#user-nav" class="d-flex justify-content-between align-items-center text-shadow-dark dropdown-toggle" data-toggle="collapse"><span>My account</span></a>
        </div>
    </div>
    <div class="collapse" id="user-nav">
        <ul class="nav nav-sidebar">
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="icon-user-plus"></i>
                    <span>My profile</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="icon-coins"></i>
                    <span>My balance</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="icon-comment-discussion"></i>
                    <span>Messages</span>
                    <span class="badge bg-teal-400 badge-pill align-self-center ml-auto">58</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="icon-cog5"></i>
                    <span>Account settings</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="icon-switch2"></i>
                    <span>Logout</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<!-- /user menu -->