﻿@using Common.Resources
<!-- Main navigation -->
<div class="card card-sidebar-mobile">
    <ul class="nav nav-sidebar" data-nav-type="accordion">
        <!-- Main -->
        <li class="nav-item-header"><div class="text-uppercase font-size-xs line-height-xs">Main</div> <i class="icon-menu" title="Main"></i></li>
        <li class="nav-item nav-item-submenu">
            <a href="javascript:void(0)" class="nav-link"><i class="icon-copy"></i> <span>Security</span></a>
            <ul class="nav nav-group-sub" data-submenu-title="Layouts">
                <li class="nav-item"><a href="@Url.Action("Index","User")" class="nav-link active">@UI.Users</a></li>
                <li class="nav-item"><a href="@Url.Action("Index", "UserRole")" class="nav-link">Roles</a></li>
                <li class="nav-item"><a href="@Url.Action("Index", "UserPermission")" class="nav-link">Permissions</a></li>
            </ul>
        </li>
    </ul>
</div>
<!-- /main navigation -->