﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Neriman Shabanzade" />
    <meta name="description" content="" />
    <meta name="keywords" content="Student Management System, @ViewBag.Title" />
    <title>@ViewBag.Title | SMS</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/template")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/DevExtremeBundle")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/DevExtremeBundle")
</head>
<body>
    @Html.Partial("Partials/_HeaderPartial")
    <div class="page-content">
        @Html.Partial("Partials/_SidebarPartial")
        <div class="content-wrapper">
            @Html.Partial("Partials/_PageHeaderPartial")
            <div class="content">
                @RenderBody()
                @Html.Partial("Partials/_RemoveModalPartial")
            </div>
            @Html.Partial("Partials/_FooterPartial")
        </div>
    </div>

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryunobtrusiveAjax")
    @Scripts.Render("~/bundles/template")
    @Scripts.Render("~/bundles/site")
    @RenderSection("scripts", required: false)
</body>
</html>
