﻿@using BLL
@(Html.DevExtreme().DataGrid<UserRoleDTO>()
      .ID("userRolesGridContainer")
      .DataSource(d => d.Mvc().Controller("UserRole").LoadAction("Data").Key("Id"))
      .ShowBorders(true)
      .ShowColumnLines(true)
      .ShowRowLines(true)
      .SearchPanel(s => s
          .Visible(true)
          .Width(240)
          .Placeholder("Axtar...")
          .HighlightCaseSensitive(false)
      )
      .HeaderFilter(headerFilter => headerFilter.Visible(true))
      .Paging(p => p.PageSize(10))
      .Pager(p => p
          .ShowPageSizeSelector(true)
          .AllowedPageSizes(new int[] {5, 10, 25, 50, 100})
          .ShowInfo(true)
      )
      .GroupPanel(g => g.Visible(true))
      .Grouping(g => g.AutoExpandAll(false))
      .RowAlternationEnabled(true)
      .FocusedRowEnabled(true)
      .FilterRow(f => f.Visible(true))
      .AllowColumnResizing(true)
      .Export(e => e.Enabled(true).FileName("Users").AllowExportSelectedData(true))
      .Columns(columns =>
      {
          columns.AddFor(x => x.Id).Caption("Id").SortIndex(0).SortOrder(SortOrder.Asc);
          columns.AddFor(x => x.Name).Caption("Ad");
          columns.AddFor(x => x.Description).Caption("Haqqında");
          columns.AddFor(x => x.CreateDate).Caption("Yaradılma tarixi");
          columns.AddFor(x => x.StatusName).Caption("Status");
          columns.AddFor(x => x.Id).Caption("Remove/Edit").CellTemplate(@<text>
        <a class="btn bg-pink-400 btn-icon rounded-round legitRipple" onclick="HrefMe('@Url.Action("Form", "UserRole")', '<%=value%>')"><i class="icon-pencil4"></i></a>
        <a class="btn bg-pink-400 btn-icon rounded-round danger" onclick="ShowRemoveModal('@Url.Action("Remove", "UserRole")', '<%=value%>')"><i class="icon-trash"></i></a>
    </text>);
      })
      )