﻿@model AdminUI.Models.UserRoleViewModel
@using BLL
@using Common.Resources

<div class="card">
    <div class="card-header header-elements-inline">
        <h6 class="card-title">UserRole Form</h6>
    </div>

    <div class="card-body">
        @using (Ajax.BeginForm("Save", "UserRole", new AjaxOptions() { HttpMethod = "POST", OnBegin = "OnBegin", OnFailure = "OnFailure", OnSuccess = "OnSuccess" }, new { @enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(x => x.Id)
            @Html.HiddenFor(x => x.Status)

            @Html.AntiForgeryToken()

            <div class="row">
                <div class="col-sm-6 col-md-6">
                    <div class="form-group">
                        <label>Name</label>
                        @Html.TextBoxFor(x => x.Name, new { @class = "form-control", @placeholder = "Role name" })
                        @Html.ValidationMessageFor(x => x.Name, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="form-group">
                        <label>Description</label>
                        @Html.TextBoxFor(x => x.Description, new { @class = "form-control", @placeholder = "Description" })
                        @Html.ValidationMessageFor(x => x.Description, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6 col-md-6">
                    <div class="form-group">
                        <button class="btn btn-success">Add</button>
                    </div>
                    <div class="form-group">
                        <label>Permissions</label>
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Remove</th>
                                </tr>
                            </thead>
                            <tbody id="UserPermissionBodyId">
                                @foreach (var permission in Model.UserPermissions)
                                {
                                    <tr>
                                        <td>@permission.Permission.ToString()</td>
                                        <td>@permission.Description</td>
                                        <td>
                                            <a href="javascript:void(0)" class="btn bg-danger btn-icon legitRipple" onclick="RemoveUserPermission('@permission.Id', '@Url.Action("RemovePermission","UserRole")')">
                                                <i class="icon-trash"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-start align-items-center">
                <button type="submit" class="btn btn-light legitRipple">Cancel</button>
                <button type="submit" class="btn bg-blue ml-3 legitRipple">Submit <i class="icon-paperplane ml-2"></i></button>
            </div>
        }
    </div>
</div>