﻿<div class="card">
    <div class="card-header header-elements-inline">
        <h5 class="card-title">İcazələr</h5>
        <div class="header-elements">
        </div>
    </div>

    <div class="card-body">
        @Html.Partial("_GridPartial")
    </div>
</div>