﻿@model AdminUI.Models.UserPermissionViewModel

@using (Html.BeginCollectionItem("UserPermissions"))
{
    <tr>
        <td>@Html.EnumDropDownListFor(x=>x.Permission)</td>
        <td>@Html.TextBoxFor(x=>x.Description)</td>
        <td>
            <a href="javascript:void(0)" class="btn bg-danger btn-icon legitRipple" onclick="RemoveUserPermissionRow('@Url.Action("RemovePermission","UserRole")')">
                <i class="icon-trash"></i>
            </a>
        </td>
    </tr>
}