﻿@(Html.DevExtreme().DataGrid<BLL.UserDTO>()
    .ID("userGridContainer")
    .DataSource(d => d.Mvc().Controller("User").LoadAction("Data").Key("Id"))
    .ShowBorders(true)
    .ShowColumnLines(true)
    .ShowRowLines(true)
    .SearchPanel(s => s
        .Visible(true)
        .Width(240)
        .Placeholder("Axtar...")
        .HighlightCaseSensitive(false)
    )
    .HeaderFilter(headerFilter => headerFilter.Visible(true))
    .Paging(p => p.PageSize(10))
    .Pager(p => p
        .ShowPageSizeSelector(true)
        .AllowedPageSizes(new int[] { 5, 10, 25, 50, 100 })
        .ShowInfo(true)
    )
    .GroupPanel(g => g.Visible(true))
    .Grouping(g => g.AutoExpandAll(false))
    .RowAlternationEnabled(true)
    .FocusedRowEnabled(true)
    .FilterRow(f => f.Visible(true))
    .AllowColumnResizing(true)
    .Export(e => e.Enabled(true).FileName("Users").AllowExportSelectedData(true))
    .Columns(columns =>
    {
        columns.AddFor(x => x.Id).Caption("Id").SortIndex(0).SortOrder(SortOrder.Asc);
        columns.AddFor(x => x.FirstName).Caption("Ad");
        columns.AddFor(x => x.LastName).Caption("Soyad");
        columns.AddFor(x => x.GenderName).Caption("Cins");
        columns.AddFor(x => x.Email).Caption("E-mail");
        columns.AddFor(x => x.CreateDate).Caption("Yaradılma tarixi");
        columns.AddFor(x => x.StatusName).Caption("Status");
        columns.AddFor(x => x.Id).Caption("Remove/Edit").CellTemplate(@<text>
        <a class="btn bg-pink-400 btn-icon rounded-round legitRipple" onclick="HrefMe('@Url.Action("Form", "User")', '<%=value%>')"><i class="icon-pencil4"></i></a>
        <a class="btn bg-pink-400 btn-icon rounded-round danger" onclick="ShowRemoveModal('@Url.Action("Remove", "User")', '<%=value%>')"><i class="icon-trash"></i></a>
    </text>);
        })
)