﻿@model AdminUI.Models.UserViewModel
@using BLL
@using Common.Resources

<div class="card">
    <div class="card-header header-elements-inline">
        <h6 class="card-title">User Form</h6>
    </div>

    <div class="card-body">
        @using (Ajax.BeginForm("Save", "User", new AjaxOptions() { HttpMethod = "POST", OnBegin = "OnBegin", OnFailure = "OnFailure", OnSuccess = "OnSuccess" }, new { @enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(x => x.Id)
            @Html.HiddenFor(x => x.Status)
            @Html.HiddenFor(x => x.Image)

            @Html.AntiForgeryToken()
            <div class="row">
                @if (Model.Base64StringImage != null)
                {
                    <div class="col-sm-6 col-md-6">
                        <div class="form-group">
                            <label>Image</label>
                            <img src="@Model.Base64StringImage" width="50" height="50" />
                        </div>
                    </div>
                }

                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="form-group">
                        <label>Image</label>
                        @Html.TextBoxFor(x => x.PostedImage, new { @class = "form-control", @type = "File" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-6">
                    <div class="form-group">
                        <label>First name</label>
                        @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control", @placeholder = "First name" })
                        @Html.ValidationMessageFor(x => x.FirstName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="form-group">
                        <label>Last name</label>
                        @Html.TextBoxFor(x => x.LastName, new { @class = "form-control", @placeholder = "Last name" })
                        @Html.ValidationMessageFor(x => x.LastName, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-6">
                    <div class="form-group">
                        <label>Gender</label>
                        @Html.EnumDropDownListFor(x => x.Gender, "-Select-", new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.Gender, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="form-group">
                        <label>E-mail</label>
                        @Html.TextBoxFor(x => x.Email, new { @class = "form-control", @placeholder = "E-mail" })
                        @Html.ValidationMessageFor(x => x.Email, "", new { @class = "text-danger" })
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-6">
                    <div class="form-group">
                        <label>Role</label>
                        @Html.DropDownListFor(x => x.UserRoleId, new SelectList((IEnumerable<UserRoleDTO>)ViewData["Roles"], "Id", "Name"), "-Select-", new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.UserRoleId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    @if (Model != null && Model.Id == default(long))
                    {
                        <div class="form-group">
                            <label>Password</label>
                            @Html.PasswordFor(x => x.Password, new { @class = "form-control", @placeholder = "Password" })
                            @Html.ValidationMessageFor(x => x.Password, "", new { @class = "text-danger" })
                        </div>
                    }
                    else
                    {
                        @Html.HiddenFor(x => x.Password, new { @class = "form-control" })
                    }

                </div>
            </div>

            <div class="d-flex justify-content-start align-items-center">
                <button type="submit" class="btn btn-light legitRipple">Cancel</button>
                <button type="submit" class="btn bg-blue ml-3 legitRipple">Submit <i class="icon-paperplane ml-2"></i></button>
            </div>
        }
    </div>
</div>