﻿@using Common.Resources
<div class="card">
    <div class="card-header header-elements-inline">
        <h5 class="card-title">Istifadeciler</h5>
        <div class="header-elements"></div>
        <a class="btn btn-primary" href="@Url.Action("Form","User",new {id=0})">@UI.Add</a>
    </div>
    
    <div class="card-body">
        @Html.Partial("_GridPartial")
    </div>
</div>